/* Variables */

:root {
  --null: "";
  --gcRed: #D65F45;
  --gcOrange:#DEA13D;
  --gcGreen: #87AC73;
  --gcTeal: #4BA8A9;
  --gcLGray: #F0F0F0;
  --gcMGray: #E6E6E6;
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: var(--gcMGray);
}

h1, h2, h3, h4, h5 {
  font-family: 'Anton', sans-serif;
  margin: .5em auto;
}

.box {
  border: 5px solid white;
  border-radius: 900px;
  vertical-align: middle;
  text-align: center;
}

p {
  font-family: 'Abel', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Page Content */

.red-circle{
  background: var(--gcRed);
  color: white;
}

.orange-circle{
  background: var(--gcOrange);
  color: white;
}

.green-circle{
  background: var(--gcGreen);
  color: white;
 }

.teal-circle{
  background: var(--gcTeal);
  color: white;
}


/*******************************************/
/*                Small                    */
/*******************************************/

@media screen and (min-width: 576px) {
  /* Navbar */

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  nav img {
    width: 105px;
    height: 105px;
    margin-right: 1em;
  }

  #nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12em;
  }

  #nav-left p {
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
  }

  #nav-right {
    display: flex;
    flex-direction-: row;
    align-items: center;
    margin-right: 12em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    background: white;
    list-style: none;
    margin-bottom: 0;
    align-self: center;
  }

  nav li {
    margin: 0 1em;
    display: flex;
    align-items: center;
  }

  /* Circle row */

  .circle-row {
    width: 75%;
    margin: auto;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .box h2 {
    margin: 1.5em 0;
  }

  /* circle row */

  .circle-row {
    padding: 2em 0;
  }

  /* line row */

  .line {
    width: 90%;
    border: 2px solid #cccccc;
    height: 1px;
    margin: auto;
  }

  /* main section */

  main {

  }

  section {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
  }

  artcle {
    display: flex;
    flex-direction: column;
  }

  .cards-article {
    flex-basis: 2;
  }
  /* Headline */

  .headline {
    padding: 1em;
  }

  /* Cards  */

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    margin: 1em;
  }

  .card-img-top {
    border: 3px solid #E6E6E6;
  }

  .card-body {
    background-color: #e6e6e6;
    height: 1.5em;
    padding: .2em 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-small-circles {
    display: flex;
    margin-left: .2em;
  }

  .box-small {
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    text-align: center;
    padding-bottom: 1em;
    color: #000;
    font-weight: bold;
    margin-left: .3em;
    font-size: .8em;
  }

  .box-small p {
    margin-bottom: .4em;

  }

  /* Posts */

  .posts {
    flex-basis: 4;
    margin-top: 0px;
  }

  .headline-posts {
    padding: 1em 1em 0px 1em;
  }

  .post {
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-content: center;
  }

  .post img {
    width: 50px;
    height: 50px;
    margin: auto 1em auto 0;
  }

  .post h4 {
    margin-left: 0px;
  }

  /* Tweets */

  .headline-tweet {
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-top: 5em;
  }

  .headline-tweet img {
    width: 25px;
    height: 25px;
    margin-right: 1em;
  }

  .headline-tweet p {
    font-weight: bold;

  }

  .tweet p {
    padding: 1em;
  }
}



/*******************************************/
/*              Medium                     */
/*******************************************/

@media screen and (min-width: 768px) {
  /* Navbar */

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  nav img {
    width: 105px;
    height: 105px;
    margin-right: 1em;
  }

  #nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12em;
  }

  #nav-left p {
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
  }

  #nav-right {
    display: flex;
    flex-direction-: row;
    align-items: center;
    margin-right: 12em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    background: white;
    list-style: none;
    margin-bottom: 0;
    align-self: center;
  }

  nav li {
    margin: 0 1em;
    display: flex;
    align-items: center;
  }

  /* Circle row */

  .circle-row {
    width: 75%;
    margin: auto;
  }

  /*!!!!!!!!!!*/

  .box {
    width: 100px;
    height: 100px;
  }

  .box h2 {
    margin: 1.5em 0;
  }

  /*!!!!!!!!!!*/
  header h2{
    font-size: 20px;
  }

  /* circle row */

  .circle-row {
    padding: 2em 0;
  }

  /* line row */

  .line {
    width: 90%;
    border: 2px solid #cccccc;
    height: 1px;
    margin: auto;
  }

  /* main section */

  main {

  }

  section {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  .cards-article {
    flex-basis: 2;
  }
  /* Headline */

  /*!!!*/

  .headline {
    padding: .5em;
    font-size: 10px;
  }

  /* Cards  */

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*!!!!!!!!!!!*/
  .card {
    margin: 1em;
    width:9rem;
  }

  .card-text{
    font-size: 10px;
  }
  /*!!!!!*/
  .card-img-top {
    border: 3px solid #E6E6E6;
    width: 153px;
    height: 104px;
  }

  /*!!!!!!!!!!!!!*/
  .card-body {
    background-color: #e6e6e6;
    height: 1.25em;
    width: fit-content;
    padding: .2em 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-small-circles {
    display: flex;
    margin-left: .2em;
  }

  /*!!!!!!!!!!!!!!!!!!!!!!*/
  .box-small {
    width: 15px;
    height: 15px;
    border-radius: 9999px;
    text-align: center;
    padding-bottom: 1em;
    color: #000;
    font-weight: bold;
    margin-left: .3em;
    font-size: .5em;
  }

  .box-small p {
    margin-bottom: .4em;

  }

  /* Posts */

  .posts {
    flex-basis: 4;
    margin-top: 0px;
  }

  .headline-posts {
    padding: 1em 1em 0px 1em;
  }

  .post {
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-content: center;
  }

  .post img {
    width: 50px;
    height: 50px;
    margin: auto 1em auto 0;
  }

  .post h4 {
    margin-left: 0px;
  }

  /* Tweets */

  .headline-tweet {
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-top: 5em;
  }

  .headline-tweet img {
    width: 25px;
    height: 25px;
    margin-right: 1em;
  }

  .headline-tweet p {
    font-weight: bold;

  }

  .tweet p {
    padding: 1em;
  }

}


/*******************************************/
/* Large & extra-large                     */
/*******************************************/

@media screen and (min-width: 992px) {

  /* Navbar */

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  nav img {
    width: 105px;
    height: 105px;
    margin-right: 1em;
  }

  #nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12em;
  }

  #nav-left p {
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
  }

  #nav-right {
    display: flex;
    flex-direction-: row;
    align-items: center;
    margin-right: 12em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    background: white;
    list-style: none;
    margin-bottom: 0;
    align-self: center;
  }

  nav li {
    margin: 0 1em;
    display: flex;
    align-items: center;
  }

  /* Circle row */

  .circle-row {
    width: 75%;
    margin: auto;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .box h2 {
    margin: 1.5em 0;
  }

  /* circle row */

  .circle-row {
    padding: 2em 0;
  }

  /* line row */

  .line {
    width: 90%;
    border: 2px solid #cccccc;
    height: 1px;
    margin: auto;
  }

  /* main section */

  main {

  }

  section {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
  }

  artcle {
    display: flex;
    flex-direction: column;
  }

  .cards-article {
    flex-basis: 2;
  }
  /* Headline */

  .headline {
    padding: 1em;
  }

  /* Cards  */

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*.card {*/
  /*  margin: 1em;*/
  /*}*/

  /*!!!!!!!!!!!*/
  .card {
    margin: 1em;
    width:18rem;
  }

  .card-img-top {
    border: 3px solid #E6E6E6;
  }

  .card-body {
    background-color: #e6e6e6;
    height: 1.5em;
    padding: .2em 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-small-circles {
    display: flex;
    margin-left: .2em;
  }

  .box-small {
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    text-align: center;
    padding-bottom: 1em;
    color: #000;
    font-weight: bold;
    margin-left: .3em;
    font-size: .8em;
  }

  .box-small p {
    margin-bottom: .4em;

  }

  /* Posts */

  .posts {
    flex-basis: 4;
    margin-top: 0px;
  }

  .headline-posts {
    padding: 1em 1em 0px 1em;
  }

  .post {
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-content: center;
  }

  .post img {
    width: 50px;
    height: 50px;
    margin: auto 1em auto 0;
  }

  .post h4 {
    margin-left: 0px;
  }

  /* Tweets */

  .headline-tweet {
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-top: 5em;
  }

  .headline-tweet img {
    width: 25px;
    height: 25px;
    margin-right: 1em;
  }

  .headline-tweet p {
    font-weight: bold;

  }

  .tweet p {
    padding: 1em;
  }


}
